@import 'src/styles/_devices.scss';

.star-war-filter {
  @media screen and (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
  }

  &__select {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 1rem;
  }

  &__default-button {
    @media screen and (min-width: $screen-sm) {
      margin-left: auto;
    }
  }
}