@import 'src/styles/_colors.scss';
@import 'src/styles/_devices.scss';

.star-war-filter {
  max-width: $screen-md;
  margin: 0 auto;

  @media screen and (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
  }

  &__select {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 220px;
    letter-spacing: 2px;

    @media screen and (min-width: $screen-sm) {
      margin: 0 0 0 1.5rem;
    }

    select {
      appearance: none;
      background-color: transparent;
      border-color: $color-primary;
      border-width: 2px;
      border-radius: 6px;
      padding: 0.4rem;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
    }
  }

  &__default-button {
    @media screen and (min-width: $screen-sm) {
      margin-left: auto;
    }
  }
}